.search-items {
  margin-top: 10vh;
  max-width: 600px;
  width: 100%;
  align-self: center;
  z-index: 5;
}

.title {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  color: #555;
}

@media (max-width: 400px) {
  .title {
    font-size: 24px;
  }
}

.list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  grid-area: list;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, .9);
}