.form {
  display: grid;
  grid-template-columns: auto 70px;
  grid-template-areas:
  'message message'
  'search quantity'
  'spinner spinner';
  grid-area: search;
  column-gap: 15px;
  row-gap: 15px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}

.input {
  grid-area: search;
  min-height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 12px;
  background-color: whitesmoke;
  font-size: 16px;
  margin: 0;
  border: 2px solid dodgerblue;
}

.message-rule {
  grid-area: message;
  height: 16px;
  font-size: 12px;
  line-height: auto;
  color: gray;
  margin: 0;
}

.warn {
  color: red;
  text-decoration: underline;  
}

.preloader {
  height: 10px;
  grid-area: spinner;
}