.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.map-container {
  width: 80vw;
  height: auto;
  position: absolute;
  top: 20vw;
}