.item-container {
  display: grid;
  grid-template-columns: 6fr 4fr 50px;
  gap: 10px;
  padding: 5px 8px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.item-container:hover .text {
  color: rgba(82, 95, 55, 0.8);
}

.item-container:focus {
  box-shadow: 0 0 0 1px rgba(82, 95, 55, 0.3);
  border-radius: 3px;
}

.flag {
  width: 50px;
  height: auto;
}

.text {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  transition: color .2s;
}
